pkgbase = python-referencing
	pkgdesc = An implementation-agnostic implementation of JSON reference resolution
	pkgver = 0.32.0
	pkgrel = 1
	url = https://referencing.readthedocs.io
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-subtests
	checkdepends = python-jsonschema
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	depends = python
	depends = python-attrs
	depends = python-rpds-py
	source = python-referencing::git+https://github.com/python-jsonschema/referencing#commit=ff99d1e5e46c43c63c0bc45188206d02615c0672
	source = github.com-python-jsonschema-referencing-suite::git+https://github.com/python-jsonschema/referencing-suite
	b2sums = SKIP
	b2sums = SKIP

pkgname = python-referencing
