pkgbase = python-referencing
	pkgdesc = An implementation-agnostic implementation of JSON reference resolution
	pkgver = 0.33.0
	pkgrel = 3
	url = https://referencing.readthedocs.io
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-subtests
	checkdepends = python-jsonschema
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	depends = python
	depends = python-attrs
	depends = python-rpds-py
	source = python-referencing::git+https://github.com/python-jsonschema/referencing#commit=16305060454f89ec04ff6f346704553cb2763f87
	source = github.com-python-jsonschema-referencing-suite::git+https://github.com/python-jsonschema/referencing-suite
	b2sums = SKIP
	b2sums = SKIP

pkgname = python-referencing
