pkgbase = python-referencing
	pkgdesc = An implementation-agnostic implementation of JSON reference resolution
	pkgver = 0.31.1
	pkgrel = 1
	url = https://referencing.readthedocs.io
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-subtests
	checkdepends = python-jsonschema
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	depends = python
	depends = python-attrs
	depends = python-rpds-py
	source = python-referencing::git+https://github.com/python-jsonschema/referencing#commit=4f7e8bc935d89644546bf900de012b4df5b9b06a
	source = github.com-python-jsonschema-referencing-suite::git+https://github.com/python-jsonschema/referencing-suite
	b2sums = SKIP
	b2sums = SKIP

pkgname = python-referencing
